# IDE files
*.classpath
*.project
*.settings/
.idea/
*.iml
.DS_Store

# Essentials files
/Essentials/userdata
/Essentials/config.yml
/Essentials/kits.yml
/Essentials/userdata/testplayer1.yml
/Essentials/usermap.csv

# Build files
target/
jars/