language: java
jdk:
  - oraclejdk7
  - openjdk7
  - openjdk6
script: mvn compile test
install: true
notifications:
  irc: 
    channels: 
      - "irc.esper.net#drtshock"
    on_success: change
    on_failure: always
  email:
    recipients:
      - "drtshock13@gmail.com"
    on_success: change
    on_failure: always
